<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <!-- <div class='col-md-2'>myShares Image</div> -->
            <!--
                  see https://developer.mozilla.org/en-US/docs/Web/Events for all kind of events such as (click)
                -->
            <table>
                <td>
                    <button class='btn btn-primary' (click)='toggleImage()'>
                  {{showImage ? 'Hide' : 'Show'}} Image
                </button>
               
                </td>
                <td>
                    <img *ngIf='showImage' [src]='imageUrl' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                </td>
                <td>
                    <hhk-star [rating]='4.6' (ratingClicked)='onRatingClicked($event)'></hhk-star>
                </td>
                <td>
                    <!-- Original von ToH (added erst und löscht dann das Eingabefeld: 
                    <button (click)="add(heroName.value); heroName.value=''">add</button> 
                    
                    <button class='btn btn-primary' (click)='add(inputCategory.value, inputIsAmount.value, inputComment.value, inputMonth.value, inputPlanAmount.value, inputYear.value)'>add</button>
                    -->
                    <button class='btn btn-primary' [routerLink]="['/add-expense']">Add Expense</button>
                    <button class='btn btn-primary' (click)='delete(TODO)'>Delete</button>
                    <button class='btn btn-primary' (click)='update(TODO)'>Update</button>
                    <button class='btn btn-primary' (click)='clearFilters()'>Clear Filters</button>
                </td>
            </table>
        </div>
        <!--
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: </h3>{{listFilter}} </h3>
            </div>
        </div>
        -->
        <div>
            <div class='table-responsive'>
                <table class='table' *ngIf='expenses && expenses.length'>
                    <thead>
                        <tr>
                            <!-- headline itself -->
                            <th>Jahr</th>
                            <th>Monat</th>
                            <th>Kategorie</th>
                            <th>Plan (in {{currency}})</th>
                            <th>Ist (in {{currency}})</th>
                            <th>Bemerkung</th>
                        </tr>
                        <!-- input fields for the 'add' method -->
                        <!--
                        <tr>
                            <th>
                                <div class='col-md-4'>
                                    <input type='text' [(ngModel)]='addYear' />
                                </div>
                        </th>
                            <th>
                                <div class='col-md-4'>
                                    <input type='text' [(ngModel)]='addMonth' />
                                </div>
                            </th>
                            <th>
                                <div class='col-md-4'>
                                    <input type='text' [(ngModel)]='addCategory' />
                                </div>>
                            </th>
                            <th>
                                <div class='col-md-4'>
                                    <input type='text' [(ngModel)]='addPlan' />
                                </div>
                            </th>
                            <th>
                                <div class='col-md-4'>
                                    <input type='text' [(ngModel)]='addExpense' />
                                </div>
                            </th>
                            <th>
                                <div class='col-md-4'>
                                    <input type='text' [(ngModel)]='addComment' />
                                </div>
                            </th>

                        </tr>
                    -->
                        <tr>
                            <!-- filters for headline -->
                            <th> <!-- Year Filter -->
                              <div class='col-md-2'>
                                  <select [(ngModel)]="selectedYear" (input)="onYearInput($event)">
                                      <option *ngFor="let y of years"
                                              [value]="y"
                                      >
                                      {{y}}
                                      </option>
                                   </select>
                              </div>
                            </th>
                            <th> <!-- Month Filter -->
                                <div class='col-md-2'>
                                    <select [(ngModel)]="selectedMonth" (input)="onMonthInput($event)">
                                        <option *ngFor="let m of months"
                                                [value]="m"
                                            >
                                            {{m}}
                                        </option>
                                     </select>
                                </div>
                            </th>
                            <th> <!-- Category Filter -->
                                <div class='col-md-2'>
                                    <select [(ngModel)]="selectedCategory" (input)="onCategoryInput($event)">
                                        <option *ngFor="let c of categories"
                                                [value]="c"
                                            >
                                            {{c}}
                                        </option>
                                        </select>
                                </div>
                            </th>
                            <th>
                                <!-- Plan -->
                                <div class='col-md-2'>
                                    <input type='text' [(ngModel)]='plansFilter' />
                                </div>
                            </th>
                            <th>
                                <!-- Actuals -->
                                <div class='col-md-2'>
                                    <input type='text' [(ngModel)]='actualsFilter' />
                                </div>
                            </th>
                            <th>
                                <!-- Comments -->
                                <div class='col-md-2'>
                                    <input type='text' [(ngModel)]='commentFilter' />
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let expense of filteredExpenses'>
                            <td>{{ expense.expenseYear}}</td>
                            <td>{{ expense.expenseMonth}}</td>
                            <td>{{ expense.expenseCategory}}</td>
                            <td>{{ expense.expensePlan | number:'1.2-2' | convertFX: fxRate }}</td>
                            <td>{{ expense.expenseActuals | number:'1.2-2' | convertFX: fxRate }}</td>
                            <td>{{ expense.expenseComment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf='errorMessage' class='alert alert-danger'>
        Error: {{ errorMessage }}
    </div>
