<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <!-- <div class='col-md-2'>myShares Image</div> -->
            <!--
                  see https://developer.mozilla.org/en-US/docs/Web/Events for all kind of events such as (click)
                -->
            <table>
                <td>
                    <button class='btn btn-primary' (click)='toggleImage()'>
                  {{showImage ? 'Hide' : 'Show'}} Image
                </button>
               
                </td>
                <td>
                    <img *ngIf='showImage' [src]='imageUrl' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                </td>
                <td>
                    <hhk-star [rating]='4.6' (ratingClicked)='onRatingClicked($event)'></hhk-star>
                </td>
                <td>
                    <!-- Original von ToH (added erst und löscht dann das Eingabefeld: 
                    <button (click)="add(heroName.value); heroName.value=''">add</button> 
                    
                    <button class='btn btn-primary' (click)='add(inputCategory.value, inputIsAmount.value, inputComment.value, inputMonth.value, inputPlanAmount.value, inputYear.value)'>add</button>
                    -->
                    <button class='btn btn-primary' [routerLink]="['/add-expense']">Add Expense</button>
                    <!-- <button class='btn btn-primary' (click)='delete(TODO)'>Delete</button> -->
                    <button class='btn btn-primary' (click)='update(TODO)'>Update</button>
                    <button class='btn btn-primary' (click)='clearFilters()'>Clear Filters</button>
                </td>
            </table>
        </div>
        
        <div>
            <div class='table-responsive'>
                <table class='table' *ngIf='expenses && expenses.length'>
                    <thead align="right">
                        <tr >
                            <!-- headline itself -->
                            <td> </td> <!-- for the "delete" icon -->
                            <td width = 50>Jahr</td>
                            <td>Monat</td>
                            <td>Kategorie</td>
                            <td width = 75>Plan (in {{currency}})</td>
                            <td width = 50>Ist (in {{currency}})</td>
                            <td>Bemerkung</td>
                        </tr>
                        <tr>
                            <!-- filters for headline -->
                           <td> </td>
                            <td> <!-- Year Filter -->
                              <div> <!-- entfernt: class='col-md-2' -->
                                  <select [(ngModel)]="selectedYear" (input)="onYearInput($event)">
                                      <option *ngFor="let y of years"
                                              [value]="y"
                                      >
                                      {{y}}
                                      </option>
                                   </select>
                              </div>
                            </td>
                            <td> <!-- Month Filter -->
                                <div>
                                    <select [(ngModel)]="selectedMonth" (input)="onMonthInput($event)">
                                        <option *ngFor="let m of months"
                                                [value]="m"
                                            >
                                            {{m}}
                                        </option>
                                     </select>
                                </div>
                            </td>
                            <td> <!-- Category Filter -->
                                <div>
                                    <select [(ngModel)]="selectedCategory" (input)="onCategoryInput($event)">
                                        <option *ngFor="let c of categories"
                                                [value]="c"
                                            >
                                            {{c}}
                                        </option>
                                        </select>
                                </div>
                            </td>
                            <td>
                                <!-- Plan -->
                                <div>
                                    <input type='text' [(ngModel)]='plansFilter' />
                                </div>
                            </td>
                            <td>
                                <!-- Actuals -->
                                <div>
                                    <input type='text' [(ngModel)]='actualsFilter' />
                                </div>
                            </td>
                            <td>
                                <!-- Comments -->
                                <div>
                                    <input type='text' [(ngModel)]='commentFilter' />
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let expense of filteredExpenses' align="right">
                            <button class="delete" title="delete expense"
                                (click)="delete(expense)">  x  </button>
                            <td width=50>{{ expense.expenseYear}}</td>
                            <td width=75>{{ expense.expenseMonth}}</td>
                            <td>{{ expense.expenseCategory}}</td>
                            <td width=75>{{ expense.expensePlan | number:'1.2-2' | convertFX: fxRate }}</td>
                            <td width=75>{{ expense.expenseActuals | number:'1.2-2' | convertFX: fxRate }}</td>
                            <td>{{ expense.expenseComment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf='errorMessage' class='alert alert-danger'>
        Error: {{ errorMessage }}
    </div>
