<!-- for later: after submit hide the whole form!
      TODO: 
      1. the form shall appear only as dialog, not as page
        so that it is re-rerouted to the HHK Table again
      2. the onSubmitAddNew button must not set submitted = true!
        (otherwise no second entry would be possible)
<div class="container" [hidden]="submitted">
-->
<div class="container">
    <h1>{{pageTitle}}</h1>

    <form #expenseForm="ngForm" *ngIf='expenses && expenses.length' (ngSubmit)="onSubmit()" [formGroup]="expenseGroup">
        <div class="form-group">
            <label for="icYear">Year</label>
            <select class="form-control" id="icYear" required placeholder="1900" formControlName="expenseYear">
        <div class="alert alert-danger">
          Year of the expense is required.
        </div>
        <option *ngFor="let y of years" [value]="y">{{y}}</option>
      </select>
        </div>


        <div class="form-group">
            <label for="icMonth">Month</label>
            <!-- [(ngModel)]="expense.expenseMonth"  -->
            <select class="form-control" id="icMonth" required placeholder="Januar" formControlName="expenseMonth">
        <div class="alert alert-danger">
          Month of the expense is required.
        </div>
        <option *ngFor="let m of months" [value]="m">{{m}}</option>
      </select>
        </div>

        <div class="form-group">
            <label for="icExpense">Expense Value</label>
            <input type="number" class="form-control" id="icExpense" required placeholder="0.00" formControlName="expenseActuals">
            <div class="alert alert-danger">
                Expense amount is required and must be a number.
            </div>
        </div>

        <div class="form-group">
            <label for="icCategory">Category</label>
            <select class="form-control" id="icCategory" required placeholder="Zum Ausgeben" formControlName="expenseCategory">
        <option *ngFor="let c of categories" [value]="c">{{c}}</option>
      </select>
        </div>

        <div class="form-group">
            <label for="icComment">Comment</label>
            <input type="text" class="form-control" id="icComment" placeholder="" formControlName="expenseComment">
        </div>

        <div class="form-group">
            <label for="icPlan">Plan Value</label>
            <input type="number" class="form-control" id="icPlan" placeholder="0.00" formControlName="expensePlan">
            <div class="alert alert-danger">
                Plan amount must be a number.
            </div>
        </div>

        <!-- buttons at the bottom to submit, cancel and add another one -->
        <!-- Button: Cancel -->
        <button type="cancel" class="btn btn-cancel" (click)="goBack()">
        Cancel
    </button>
        <!-- Button: Submit 
        the click method is already included in the form group on top -->
        <button type="submit" class="btn btn-success" (click)="goBack()" [disabled]="!expenseForm.form.valid">
        Submit
    </button>
        <!-- Button: Submit & Add New -->
        <button type="submit" class="btn btn-success" [disabled]="!expenseForm.form.valid">
        Submit & Add New
    </button>
    </form>
</div>

<!-- TODO: to be commented out in productive -->
<div [hidden]="!submitted" *ngIf='expense'>
    <h2>You submitted the following:</h2>
    <div class="row">
        <div class="col-xs-3">Year</div>
        <div class="col-xs-9  pull-left">{{ expense.expenseYear }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Month</div>
        <div class="col-xs-9 pull-left">{{ expense.expenseMonth }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Expense Value</div>
        <div class="col-xs-9 pull-left">{{ expense.expenseActuals }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Category</div>
        <div class="col-xs-9 pull-left">{{ expense.expenseCategory }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Comment</div>
        <div class="col-xs-9 pull-left">{{ expense.expenseComment }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Plan Value</div>
        <div class="col-xs-9 pull-left">{{ expense.expensePlan }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>