<div class="container">
  <h1>{{pageTitle}}</h1>

  <form #expenseForm="ngForm">
    <div class="form-group">
      <label for="icYear">Year</label>g
      <select class="form-control" id="icYear" required [(ngModel)]="expense.expenseYear" placeholder="1900" name="icYear">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Year of the expense is required.
        </div>
        <option *ngFor="let y of years" [value]="y">{{y}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="icMonth">Month</label>
      <select class="form-control" id="icMonth" required [(ngModel)]="expense.expenseMonth" placeholder="Januar" name="icMonth">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Month of the expense is required.
        </div>
        <option *ngFor="let m of months" [value]="m">{{m}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="icExpense">Expense Value</label>
      <input type="number" class="form-control" id="icExpense" required [(ngModel)]="expense.expenseActuals" placeholder="0.00"
        name="icExpense" #name="ngModel">
      <div [hidden]="icExpense.valid || icExpense.pristine" class="alert alert-danger">
        Expense amount is required and must be a number.
      </div>
    </div>

    <div class="form-group">
      <label for="icCategory">Category</label>
      <select class="form-control" id="icCategory" required [(ngModel)]="expense.expenseCategory" placeholder="Zum Ausgeben" name="icCategory">
        <option *ngFor="let c of categories" [value]="c">{{c}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="icComment">Comment</label>
      <input type="text" class="form-control" id="icComment" [(ngModel)]="expense.expenseComment" placeholder="" name="icComment">
    </div>

    <div class="form-group">
      <label for="icPlan">Plan Value</label>
      <input type="number" class="form-control" id="icPlan" [(ngModel)]="expense.expensePlan" placeholder="0.00" name="icPlan" #name="ngModel">
      <div [hidden]="icPlan.valid || icPlan.pristine" class="alert alert-danger">
        Plan amount must be a number.
      </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
